package handlers
{{/* Expects httpHandlerConfig */}}
import (
	"{{ GetModuleName }}/internal/models"
	"encoding/json"
	"net/http"
	"fmt"
)
{{ $name := .Name}}
type {{ .Name }}Command interface { {{ with .Function}}
	{{ GetMethodSignatureByName . }}{{ end }}
}
type {{ .Name }} struct {
	{{with .Function}}cmd {{ $name }}Command{{end}}
}

func New{{ .Name }}({{ with .Function }}cmd *logic.{{GetFunctionClass .}}{{ end }}) *{{ .Name }} {
	return &{{ .Name }}{
		{{with .Function}}cmd: cmd,{{end}}
	}
}

func (h {{ .Name }}) ServeHTTP(w http.ResponseWriter, r *http.Request) {
	var body models.{{ .RequestBody }}
	json.NewDecoder(r.Body).Decode(&body)
	{{ with .Function}}
	{{ GetHandlerLogicMethodString . }}
	if err != nil {
		w.WriteHeader(http.StatusInternalServerError)
		w.Write([]byte(err.Error()))
		return
	}
	{{else}}
	response := fmt.Sprintf("Hit {{.Name}} with body: %v%", body)
	{{end}}
	b, _ := json.Marshal(response)
	w.Write(b)
}
