package main
{{/* Does not require config */}}
import (
	"{{ GetModuleName }}/internal/wire"
	"os"

	"github.com/apex/log"
)

func main() {
	if err := wire.ConfigureServer().Start(); err != nil {
		log.WithError(err).Error("Application shut down")
		os.Exit(1)
	}
}
