package services
{{/* Expects serviceConfig */}}{{ $n := .Name}}
import (

)

type {{ .Name }} struct {
}

func New{{ .Name }}() *{{ .Name }} {
	return &{{ .Name }}{}
}
{{ range .Methods }} 
func ({{ GetFirstLetter $n }} {{ $n }}) {{ GetMethodSignatureByValue .Name .Accepts .Returns }} {
	return {{ ZeroReturnValues .Returns}}
}{{ end }}
