package logic
{{/* Expects serviceConfig */}}{{ $n := .Name}}
import (
	"{{ GetModuleName }}/internal/models"
	"context"

	"github.com/apex/log"
)

type {{ .Name }} struct {
}

func New{{ .Name }}() *{{ .Name }} {
	return &{{ .Name }}{}
}

{{ range .Methods }} 
func ({{ GetFirstLetter $n }} {{ $n }}) {{ .Name }}({{range $k, $v := .Accepts}}{{$k}} {{$v}},{{end}}) ({{range .Returns}}{{.}},{{end}}) {
	return {{range .Returns}}{{ZeroValue .}},{{end}}
}
{{ end }}
