//go:build wireinject
// +build wireinject

package wire

import (
	"{{.Name}}/internal/api"
	"{{.Name}}/internal/config"
	"{{.Name}}/internal/handler"
	{{ if IsNotEmpty .Services }}"{{.Name}}/internal/service"{{end}}
	{{with .Database.Name}}"{{.}}/internal/db"{{end}}

	"github.com/google/wire"
)

func ConfigureServer() *api.Server {
	wire.Build(
		config.NewConfig,
		api.NewServer,
		api.NewRouter,
		{{with .Database.Name}}db.NewDBConnection,{{end}}

		handler.Component,
		{{ if IsNotEmpty .Services }}service.Component,{{end}}
	)
	return &api.Server{}
}